.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    height: 1.5em;
}

.sortable li form.delete {
    float: right;
    color: red;
}
.sortable li form.delete button {
    color: red;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

fieldset {
    display: inline-block;
    margin-top: 2em;
}

form.add-item {
    margin-bottom: 1em;
}

body {
    padding: 1em;
}